.navbar
{
    background-color: rgba(247, 246, 243,0);
    height: 8vw;
    position:sticky;
}
nav > ul
{
    padding: 0;
    padding-top: 2vw;
    list-style-type: none; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
nav > ul > li
{
    padding-right: 1vw;
    padding-left: 1vw;
    font-size: 3vw;
    font-family: 'Pacifico', cursive;
    border-right: 0.5vw solid #fff8dc;
}
nav > ul > li > a
{
    color: #fff8dc;
    text-decoration: none;
    font-weight: bold;
}
li > a:hover
{
    font-size: 2.7vw;
    color:rgb(255, 248, 220, 0.5);
}
body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Public Sans',sans-serif;
  background-color: #32342F;
  background-size: 100% 100%;
}
.header-container
{
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-top: 0.5vw solid #fff8dc;
    border-bottom: 0.5vw solid cornsilk;
    display: flex;
    height:15vw;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.Header
{
    font-size: 5vw;
    color: rgb(224, 218, 193);
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}
#wel
{
color: rgb(224, 218, 193);
font-size: 4vw;
padding-bottom: 2vw;
text-align: start;
}
#pic
{
display: flex;
padding-right: 5vw;
}
.profile-pic
{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
}
.contact
{
    color: rgb(224, 218, 193);
    padding-bottom: 2vw;
    flex-direction: column;
    display: flex;
    width: 95vw;
    height:80vw;
    justify-content: center;
    text-align: start;
}
.contact >p>a
{
    color: #fff8dc;
    text-decoration: none;
    font-size: 4vw;
    font-weight: bold;
}

#certificates-container
{
    display: grid;
    grid-template-columns: repeat(2, 1fr); ;
}
.contact >p>a:hover
{
    font-size: 3.7vw;
    color:rgb(255, 248, 220,0.5);
}
.contact >p
{
    text-align: center;
}
h1
{
    font-size: 5vw;
    color: rgb(255, 248, 220);
}
h2
{
    color: rgb(255, 248, 220);
    font-size :4vw;
}
li
{
    color: rgb(255, 248, 220);
    font-size:3vw;
}
p{
    font-size: 3vw;
    color: rgb(255, 248, 220);
}
#urdu
{
    display:flex;
    flex-direction: row;
    width: 95vw;
    height: 5vw;
    color: #fff8dc;
    font-size: 2.5vw;
    margin-top: 2.5vw;
    margin-right: 5vw;
    justify-content: end;
    padding-right: 10vw;
}
.Certif
{
    width: 50vw;
    height: 50vw;
}

.Certif >img
{
    width: 50vw;
    height: 40vw;
    padding-right: 5%;
}
iframe
{
    justify-content:center;
    width: 50vw;
    height: 40vw;
    border: none;
    padding-right: 5%;
}