.navbar
{
    background-color: rgb(224, 218, 193);
    height: 8vh;
}
nav > ul
{
    padding-top: 2vh;
    list-style-type: none; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
nav > ul > li
{
    padding-right: 1vw;
    padding-left: 1vw;
    font-size: 3vh;
    font-family: sans-serif;
    border-right: 0.5vh solid rgb(116, 173, 199);
}
nav > ul > li > a
{
    color: rgb(58, 98, 186);
    text-decoration: none;
    font-weight: bold;
}
li > a:hover
{
    font-size: 2.7vh;
    color:rgb(159, 73, 148);
}
body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
}
.header-container
{
    margin-top:10vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-top: 0.5vh solid cornsilk;
    border-bottom: 0.5vh solid cornsilk;
    display: flex;
    height:15vh;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.Header
{
    font-size: 5vh;
    color: rgb(224, 218, 193);
    font-weight: bold;
}
#wel
{
color: rgb(224, 218, 193);
font-size: 4vh;
padding-bottom: 2vh;
text-align: start;
}
#pic
{
display: flex;
padding-right: 5vw;
}
.profile-pic
{
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
}
.contact
{
    color: rgb(224, 218, 193);
    padding-bottom: 2vh;
    flex-direction: column;
    display: flex;
    width: 95vw;
    height:80vh;
    justify-content: center;
    text-align: start;
}
.contact >p>a
{
    color: rgb(104, 147, 240);
    text-decoration: none;
    font-size: 4vh;
    font-weight: bold;
}

.contact >p>a:hover
{
    font-size: 3.7vh;
    color:rgb(159, 73, 148);
}
.contact >p
{
    text-align: center;
}
h1
{
    font-size: 5vh;
    color: rgb(58, 98, 186);
}
h2
{
    color: rgb(58, 98, 186);
    font-size :4vh;
}
li
{
    color: rgb(58, 98, 186);
    font-size:3vh;
}
p{
    font-size: 3vh;
    color: rgb(58, 98, 186);
}
#urdu
{
    display:flex;
    flex-direction: row;
    width: 95vw;
    height: 6vh;
    font-size: 6vh;
    margin-top: 5vh;
    margin-right: 5vw;
    justify-content: end;
    padding-right: 10vw;
}
.Certif
{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 40%;
}

.Certif >img
{
    width: 40%;
    height: 100%;
    padding-right: 5%;
    padding-left :5%;
}
iframe
{
    justify-content:center;
    width: 40vw;
    height: 30vh;
    padding-left: 5%;
    border: none;;
    padding-right: 5%;
}