.navbar
{
    background-color: rgb(224, 218, 193);
    height: 8vh;
}
nav > ul
{
    padding-top: 2vh;
    list-style-type: none; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
nav > ul > li
{
    padding-right: 1vw;
    padding-left: 1vw;
    font-size: 3vh;
    font-family: sans-serif;
    border-right: 0.5vh solid rgb(116, 173, 199);
}
nav > ul > li > a
{
    color: rgb(58, 98, 186);
    text-decoration: none;
    font-weight: bold;
}
li > a:hover
{
    font-size: 2.7vh;
    color:rgb(159, 73, 148);
}
body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
}
.Header
{
    display: flex;
    text-align: end;
    padding-top: 1%;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    font-size: 5vh;
    color: rgb(224, 218, 193);
}
#wel
{
color: rgb(224, 218, 193);
font-size: 4vh;
padding-bottom: 2vh;
text-align: start;
}
#pic
{
display: flex;
width: 100%;
justify-content: end;
}
.profile-pic
{
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
}
.contact
{
    color: rgb(224, 218, 193);
    font-size: 4vh;
    padding-bottom: 2vh;
    flex-direction: column;
    display: flex;
    width: 100vw;
    height:80vh;
    justify-content: center;
    text-align: start;
}
.contact >p>a
{
    color: rgb(58, 98, 186);
    text-decoration: none;
    font-weight: bold;
}

.contact >p>a:hover
{
    font-size: 3.7vh;
    color:rgb(159, 73, 148);
}
.contact >p
{
    padding-left: calc(40% - 40px)!important;
    /* I was trying to maintain the ratio so i found out we can calculate - too*/
}
h1
{
    font-size: 5vh;
}
h2
{
    font-size :4vh;
}
li
{
    font-size:3vh;
}
p{
    font-size: 3vh;
}
#urdu
{
    display:flex;
    flex-direction: row;
    width: 95vw;
    height: 6vh;
    margin-right: 5vw;
    justify-content: end;
    padding-right: 10vw;
}